@tailwind base;
@tailwind components;
@tailwind utilities;

.react-calendar{
    width: 100% !important;
    border:  none !important;
    font-family: "inter",sans-serif !important;
}

.react-calendar__navigation__label__labelText{
    font-weight: 600;
}
.react-calendar__titl--active{
    background-color: #C3EBFA !important ;
    color: black !important;
}
.rbc-btn-group:first-child{
    display: none !important;
}
.rbc-btn-group:last-child{
    font-size: 13px;
}